In [1]:
create database books_db

In [2]:
use books_db

In [3]:
CREATE TABLE Book (
    book_id INT PRIMARY KEY,
    title VARCHAR(255)
);

In [4]:


CREATE TABLE Publisher (
    publisher_id INT PRIMARY KEY,
    name VARCHAR(255),
    address VARCHAR(255),
    website VARCHAR(255)
);

In [7]:
CREATE TABLE ISBN (
    isbn_id INT PRIMARY KEY,
    book_id INT,
    format VARCHAR(50),
    price INT default(0),
    cover VARCHAR(50),
    publisher_id INT,
    FOREIGN KEY (book_id) REFERENCES Book(book_id),
    FOREIGN KEY (publisher_id) REFERENCES Publisher(publisher_id)
);

In [8]:



CREATE TABLE Reviewer (
    reviewer_id INT PRIMARY KEY,
    name VARCHAR(255),
    email VARCHAR(255)
);

In [9]:



CREATE TABLE Review (
    review_id INT PRIMARY KEY,
    book_id INT,
    reviewer_id INT,
    title VARCHAR(255),
    details TEXT,
    rating INT NOT NULL,
    FOREIGN KEY (book_id) REFERENCES Book(book_id),
    FOREIGN KEY (reviewer_id) REFERENCES Reviewer(reviewer_id)
);

In [10]:


INSERT INTO Book (book_id, title) VALUES
    (1, 'Sample Book 1'),
    (2, 'Sample Book 2');

In [11]:


INSERT INTO ISBN (isbn_id, book_id, format, price, cover, publisher_id) VALUES
    (1, 1, 'paperback', 20, 'Softcover', 1),
    (2, 1, 'ebook', 90, 'Digital', 2),
    (3, 2, 'hardbound', 30, 'Hardcover', 3);

: Msg 547, Level 16, State 0, Line 3
The INSERT statement conflicted with the FOREIGN KEY constraint "FK__ISBN__publisher___534D60F1". The conflict occurred in database "books_db", table "dbo.Publisher", column 'publisher_id'.

In [12]:
INSERT INTO Publisher (publisher_id, name, address, website) VALUES
    (1, 'Publisher A', '123 Main St, City A', 'www.publisherA.com'),
    (2, 'Publisher B', '456 Elm St, City B', 'www.publisherB.com'),
    (3, 'Publisher C', '789 Oak St, City C', 'www.publisherC.com');

In [13]:

INSERT INTO ISBN (isbn_id, book_id, format, price, cover, publisher_id) VALUES
    (1, 1, 'paperback', 20, 'Softcover', 1),
    (2, 1, 'ebook', 90, 'Digital', 2),
    (3, 2, 'hardbound', 30, 'Hardcover', 3);

In [ ]:

INSERT INTO ISBN (isbn_id, book_id, format, price, cover, publisher_id) VALUES
    (1, 1, 'paperback', 20, 'Softcover', 1),
    (2, 1, 'ebook', 90, 'Digital', 2),
    (3, 2, 'hardbound', 30, 'Hardcover', 3);

In [14]:
INSERT INTO Reviewer (reviewer_id, name, email) VALUES
    (1, 'John Doe', 'john@example.com'),
    (2, 'Jane Smith', 'jane@example.com');

In [15]:

INSERT INTO Review (review_id, book_id, reviewer_id, title, details, rating) VALUES
    (1, 1, 1, 'Great Read', 'I loved this book!', 5),
    (2, 1, 2, 'Good Book', 'Enjoyable read.', 4),
    (3, 2, 1, 'Interesting', 'A thought-provoking book.', 4);