In [4]:
create database library_db

: Msg 1801, Level 16, State 3, Line 1
Database 'library_db' already exists. Choose a different database name.

In [28]:
select * from Books

book_id,title,author_id
1,the accursed god,3
2,three mistakes of my life,4
3,next in line,5
4,david copperfield,6

In [29]:
select * from Authors

author_id,author_name
3,vivek dutta mishra
4,chetan bhagat
5,jeffery archer
6,charles dickens

In [30]:
select * from Users

user_id,username,password
1,shivangi kashyap,shivi@123

In [31]:
select * from Reviews

review_id,book_id,user_id,rating,title,details
1,1,1,4,the accursed god,wonderful book
2,2,1,3,three mistakes of my life,nice book
4,3,1,4,next in line,nice
5,4,1,5,david copperfield,nice